*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    background-color: grey;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

h1{
    text-transform: uppercase;
}

img{
    width: 100%;
}

.logo{
    width: 8%;
}

nav{
    padding: 1%;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* main */

main{
    margin: 1% 10%;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.perso{
    width: 30%;
}

#tifa{
    width: 20%;
}

#nanaki{
    width: 40%;
}

article{
    width: 50%;
}